@charset "utf-8";
// 主要背景颜色
$headerBgColor: #3C568E;

// 菜单栏颜色
$meunBgColor: #3E4657;
$seconedMeunBgColor: #1f2d3d;

// 内容区域背景颜色
$mainBgColor: #EEF0F4;

// 字体颜色
$mainTextColor: #303133;
$textColor: #606266;
$hoverTextColor: #409eff;